.App-footer {
  box-shadow: none;
  padding: 25px 40px;
  background-color: #343a40;
  color: #fff;

  .wrapper-logo {
      display: none;
  }
  .copyright {
      display: none;
  }
  .nav-legal ul {
      display: inline-block;
  }
  .list-inline-item {
    display: inline-block;
  }
  footer#footer-openedx .footer-about-openedx {
      a {
          float: none;
      }
      p {
          text-align: right;
      }
  }
}
.App-link {
  color: #fff;
}
.divLinks {
  float: right;
  display: inline;
  right: 0;
  width: 23rem;
  padding: 1rem;
}
li{
  display:inline;
  padding-left: 0.35em;
  padding-right: 0.35rem;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
}